# Node modules y dependencias
node_modules/

# Archivos de desarrollo y pruebas
*.md
*.py
*.zip
*.bak
*.pdf
test-*
debug-*
*.ttf
dejavu-fonts-ttf-2.37/
db.json
usuarios_*.csv
usuarios_*.xlsx
usuarios_*.ods

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
.env 